HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
**/.classpath

.factorypath
**/.factorypath

.project
**/.project

.settings
**/.settings

.springBeans
**/.springBeans

.sts4-cache
**/.sts4-cache

### IntelliJ IDEA ###
.idea
**/.idea

*.iws
**/*.iws

*.iml
**/*.iml

*.ipr
**/*.ipr


.settings
**/.settings

.classpath
**/.classpath

.factorypath
**/.factorypath

.project
**/.project

MANIFEST.MF
**/MANIFEST.MF

target
**/target

bin
**/bin