<html  xmlns:th="http://www.thymeleaf.org" th:include="/common/pagelayout :: page__layout">

<div class="container" th:fragment="page__content">
      <div>
            <!-- welcome.html -->
            <a th:href="@{/welcome}">1. th:text : Display text and expression evaluation</a>
      </div>
      <div>
            <!-- view-user.html -->
            <a th:href="@{/users/view-user}">2. Extracting data from Model and Formatting Dates and Strings</a>
      </div>
      <div>
            <!-- user-list.html -->
            <a th:href="@{/users}">3. Looping through Collections</a>
      </div>
      <div>
            <!-- home.html -->
            <a th:href="@{/}">4. Creating links</a>
      </div>
      <div>
            <!-- user-list.html -->
            <a th:href="@{/users}">5. Creating dynamic links</a>
      </div>
      <div>
            <!-- view-user.html -->
            <a th:href="@{/users}">6. Conditional Display</a>
      </div>
      <div>
            <!-- home.html -->
            <a th:href="@{/}">7. Using CSS Files</a>
      </div>
      <div>
            <!-- home.html -->
            <a th:href="@{/}">8. Creating and Using Fragments</a>
      </div>
       <div>
            <!-- home.html -->
            <a th:href="@{/}">9. Working with PageLayout</a>
      </div>
       <div>
            <!-- create-user.html -->
            <a th:href="@{/}">10. Working with Forms</a>
      </div>
</div>
