<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
<head>
<link rel="stylesheet" href="main.css" th:href="@{css/main.css}" />
</head>
<div>
		<!-- welcome.html -->
		<a th:href="@{/welcome}">1. th:text : Display text and expression evaluation</a>
</div>
<div>
		<!-- view-user.html -->
		<a th:href="@{/users/view-user}">2. Extracting data from Model and Formatting Dates and Strings</a>
</div>
<div>
		<!-- user-list.html -->
		<a th:href="@{/users}">3. Looping through Collections</a>
</div>
<div>
		<!-- home.html -->
		<a th:href="@{/}">4. Creating links</a>
</div>
<div>
		<!-- user-list.html -->
		<a th:href="@{/users}">5. Creating dynamic links</a>
</div>
<div>
		<!-- view-user.html -->
		<a th:href="@{/users}">6. Conditional Display</a>
</div>
</body>