<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="main.css" th:href="@{css/main.css}" />

<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js"></script>
</head>
<body>
		<div class="container">
		<div>
				<a th:href="@{/}">Home</a>
		</div>
				<table class="table table-striped">
						<thead>
								<th>First Name</th>
								<th>Last Name</th>
								<th>Age</th>
								<th>Date Of Birth</th>
								<th>Action</th>
						</thead>
						<tbody>
								<!-- Looping through Collections -->
								<tr th:each="user: ${users}">
										<td th:text="${user.firstName}">Siva111</td>
										<td th:text="${user.lastName}">Prasad</td>
										<td th:text="${user.age}">31</td>
										<td th:text="${user.dateOfBirth}">12-SEP-2019</td>
										<td>
												<!--Implementing  Dynamic Links --> 
												<a th:href="@{/users/view-user(id=${user.id})}" type="button" class="btn btn-success">View</a>
												<a  type="button" class="btn btn-primary">Update</a> 
												<a  type="button" class="btn btn-danger">Delete</a>
										</td>
								</tr>
						</tbody>
				</table>
		</div>
</body>