<html xmlns:th="http://www.thymeleaf.org" th:include="/common/pagelayout :: page__layout">

<div class="container" th:fragment="page__content">
      <!-- th:text : display text and expression evaluation -->
      <h3 th:text="'Hello !!'">Welcome !!!!!</h3>
      <h3 th:text="${userName}">Welcome !!!!</h3>
      <h3 th:text="'Hello ' + ${userName}">Welcome !!!!</h3>
      <h3 th:text="${'Hello ' + userName}">Welcome !!!!</h3>
      <h3>
            Hello <span th:text=" ${userName}"></span> !!!!
      </h3>
</div>
